page-signup {
    .grupo{padding: 45px;}

    .titulo{font-weight: bold;}
    
    .subtitulo {text-align: center;}

    #btn_Iniciar {
        background: #0062ff; 
        color: white;
        border-color: #0062ff; 
        height: 50px;
    }
}
