page-initial {
    .background{
        background: url('../../assets/imgs/wallpaper.png');
    } 
    
    .titulo  {
        text-align: left;
        color: white; 
        padding: 25px;
        padding-top: 70%;
    } 
    
    #btn_Iniciar {
        background: white; 
        color:#0062ff;
        border: none;
        height: 50px;
        font-weight: bold;
    }
    
    .Subtitulo {
        text-align: left; 
        color: white;
    }
    
    .Descricao{
        text-align: left; 
        color: white;
    }
    .Grupo {
        padding: 40px;
        padding-top: 100%;
        font-weight: bold;
    }
}
