page-home {
    .scroll {
      height: 100%
    }

    #map {
      background-size: cover;
      height: 100%;
      overflow: hidden;
      background: center center fixed
    }
    .toolbar {
      position: absolute;
  
      .toolbar-background {
        background: transparent;
      }
      .toolbar-title {
        color: black;
      }
    }
}